<!-- home.html -->
{% extends 'base_generic.html' %} {% block content %}


<div class="users">
  <h2>Users</h2>
  <ul>
    {% for user in users %}
    <li>
      {{ user.name }} ({{ user.age }} years old) | Liked book num:
      {{user.liked_books.count}}
      <ul>
        {% for book in user.liked_books.all %}
        <li>{{ book.name }}</li>
        {% endfor %}
      </ul>
      -
      <a href="{% url 'user_detail' user.pk %}">Edit</a>
    <a href="{% url 'confirm_delete' user.pk %}">Delete</a>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'add_user' %}">Add New User</a>
</div>
<div class="search-section">
  <h2>Search Users</h2>
  <form method="post" action="{% url 'home' %}">
    {% csrf_token %} {{ formset.management_form }}
    <div id="formset-container">
      {% for form in formset %}
      <div class="form-copy">{{ form.as_p }}</div>
      {% endfor %}
    </div>
    <button type="button" id="add-more">Add More</button>
    <input type="submit" value="Search" />
  </form>

  {% if results %}
  <h3>Search Results</h3>
  <ul>
    {% for user in results %}
    <li>
      {{ user.name }} - Age: {{ user.age }} - Liked Books:
      <ul>
        {% for book in user.liked_books.all %}
        <li>{{ book.name }}</li>
        {% empty %}
        <li>No liked books.</li>
        {% endfor %}
      </ul>
      
    <a href="{% url 'confirm_delete' user.pk %}">Delete</a>
    </li>
    {% empty %}
    <li>No users found matching the criteria.</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class="books">
  <h2>Books</h2>
  <ul>
    {% for book in books %}
    <li>
      {{ book.name }} - ${{ book.price }} -
      <a href="{% url 'book_detail' book.pk %}">Edit</a>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'add_book' %}">Add New Book</a>

</div>
<div class="search-section">
  <h2>Search Books</h2>
  <form method="post" action="{% url 'book_home' %}">
    {% csrf_token %} {{ formset_book.management_form }}
    <div id="formset-container2">
      {% for form in formset_book %}
      <div class="form-copy2">{{ form.as_p }}</div>
      {% endfor %}
    </div> 
    <button type="button" id="add-more2">Add More</button>
    <input type="submit" value="Search" />
  </form>

  {% if results_book %}
  <h3>Search Results</h3>
  <ul>
    {% for user in results_book %}
    <li>
      {{ user.name }} - Price: {{ user.price }} 
    <a href="{% url 'confirm_delete' user.pk %}">Delete</a>
    </li>
    {% empty %}
    <li>No books found matching the criteria.</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
</div>
<script>
  document.getElementById("add-more").addEventListener("click", function () {
    var container = document.getElementById("formset-container");
    var newForm = container
      .querySelector(".form-copy:last-child")
      .cloneNode(true);
    var formCount = parseInt(
      document.getElementById("id_form-TOTAL_FORMS").value
    );
    newForm.innerHTML = newForm.innerHTML.replace(
      /form-(\d+)-/g,
      function (match, p1) {
        return "form-" + (parseInt(p1) + 1) + "-";
      }
    );
    container.appendChild(newForm);
    document.getElementById("id_form-TOTAL_FORMS").value = formCount + 1;
  });
</script>
{% endblock %}
